<a routerLink="/admin/add-product" class="btn btn-primary">Add Product</a>
<hr>

<div class="row">


    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let p of products$ | async">
                <td>{{p.title}}</td>
                <td>{{p.price}}./pkr</td>
                <td>
                    <a routerLink="/admin/product/{{p.$key}}"  class="btn btn-primary">edit</a>
                </td>
            </tr>
        </tbody>
    </table>
    <!-- <div class="col-md-2" >
   
            <img src="{{p.imageUrl}}" alt="noImage" class="img-thumbnail" width="150"> <br>
            <label> <strong>Title:</strong>  {{p.title}} </label> <br>
            <label> <strong>Price:</strong>{{p.price}}./pkr </label>
            <label> <strong>Price:</strong>{{p.$key}}./pkr </label>

    </div> -->
</div>


 